body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: orange;
}
div{
    margin: 20px;
    
}
input{
    font-size: 15px;
    background-color: aquamarine;
    border: solid 1px black;
    box-shadow:  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    
}
label{
    font: 1rem 'Fira Sans', sans-serif;
}

form{
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

}
textarea{
    background-color: aquamarine;
}